﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#question-text {
    margin: 10px;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 7px solid blue;
    padding: 10px;
    background-color: lavender;
    border-radius: 10px;
}

.answer-text {
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid silver;
    border-radius: 15px;
    margin: 10px 50px;
}

.neutral-answer {
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid silver;
    border-radius: 15px;
    margin: 10px 50px;
}

.selected-answer {
    background-color: #CCFFCC;
}

.incorrect-answer {
    background-color: red;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid silver;
    border-radius: 15px;
    margin: 10px 50px;
}

.correc-answer {
    background-color: lime;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid silver;
    border-radius: 15px;
    margin: 10px 50px;
}

.nonselect-rightanswer {
    background-color: silver;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    border: 1px solid silver;
    border-radius: 15px;
    margin: 10px 50px;
}

#prestart-text {
    margin: 10px;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 7px solid mediumspringgreen;
    padding: 10px;
    background-color: lavender;
    border-radius: 10px;
}

#description-text {
    margin: 1px 50px 20px;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 2px solid lime;
    padding: 5px;
    background-color: lavender;
    border-radius: 5px;
}