﻿@model StudentTest.ViewModels.PrestartViewModel

@{
    ViewBag.Title = "Prestart";
}

<h2>Prestart</h2>

@foreach (var item in Model.Themes)
{
<div id="prestart-text">
    @Html.ActionLink(@item.Name, "Test", new { sessionGuid = Model.SessionGuid, themeId = item.Id })
</div>
<div id="description-text">
    @item.Description
</div>
}
