@model StudentTest.ViewModels.QuestionViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
}
    <div id="question-container">
        <div hidden="hidden" id="question-id">@Model.QuestionId</div>
        <div hidden="hidden" id="session-guid">@Model.SessionGuid</div>
        <div id="question-text">
            @Model.QuestionText
        </div>
        @foreach (var answer in @Model.Answers)
        {
            <div class="answer-text" id="answer-@answer.Key" onclick="onAnswerClick(@answer.Key)">@answer.Value</div>
        }
        <button class="btn btn-default" onclick="next()">Принять</button>
    </div>