﻿@model IEnumerable<StudentTest.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | *@
            @Html.ActionLink("Посмотреть историю сессий", "Sessions", new { Id = item.Id }) |
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
        </td>
    </tr>
}

</table>
