﻿@model IEnumerable<StudentTest.ViewModels.ResultViewModel>

@{
    ViewBag.Title = "Results";
}

<h2>Результаты теста</h2>

@foreach (var item in Model)
{
    <div id="question-text">
        @item.QuestionText
    </div>
    foreach (var answer in item.Answers)
    {
        <div class="@(answer.IsCorrect == StudentTest.ViewModels.ResultAnswerCorrectness.Neutral
            ? "neutral-answer" : answer.IsCorrect == StudentTest.ViewModels.ResultAnswerCorrectness.NonSelectCorrect
            ? "nonselect-rightanswer" : answer.IsCorrect == StudentTest.ViewModels.ResultAnswerCorrectness.SelectCorrect
            ? "correc-answer" : "incorrect-answer")">
            @answer.Text
        </div>
    }
}