﻿@model IEnumerable<StudentTest.ViewModels.SessionViewModel>

@{
    ViewBag.Title = "Sessions";
}

<h2>Sessions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionGuid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SessionGuid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) | *@
            @Html.ActionLink("Посмотреть результаты", "Results", new { SessionGuid = item.SessionGuid }) | @*Result в контроллере*@
            @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
        </td>
    </tr>
}

</table>
